<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Send Email to user</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand">Send an Email</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					{# <a class="nav-link" href="{% url 'store' %}">Store <span class="sr-only">(current)</span></a> #}
				</ul>

				<div class="form-inline my-2 my-lg-0">
					{# <a href="#"class="btn btn-warning">Login</a> #}

					{# <a href="{% url 'cart' %}"> #}
						{# <img  id="cart-icon" src="{% static 'images/cart.png' %}"> #}
					{# </a> #}
					{# <p id="cart-total">0</p> #}

				</div>
	</nav>

<div class="container">
	<div class="row justify-content-md-center">
	<form method="post" action="" enctype="multipart/form-data">
		{% csrf_token %}
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<label for="exampleFormControlInput1">From: Email address</label>
							<input type="email" class="form-control" name="fromemail" placeholder="name@example.com">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label for="exampleFormControlInput1">Password</label>
							<input type="password" class="form-control" name="password" placeholder="Password">
						</div>
						
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4">
						<div class="form-group">
							<label for="exampleFormControlInput1">To: Email address</label>
							<input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group">
							<label for="exampleFormControlInput1">BCC</label>
							<input type="email" class="form-control" name="bcc" placeholder="name@example.com">
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group">
							<label for="exampleFormControlInput1">CC</label>
							<input type="email" class="form-control" name="cc" placeholder="name@example.com">
						</div>
					</div>
				</div>
				

				<div class="form-group">
					<label for="exampleFormControlInput1">Subject</label>
					<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject to the mail">
				</div>
				<div class="form-group">
					<label for="exampleFormControlTextarea1">Body</label>
					<textarea class="form-control" id="body" name="body" rows="3" placeholder="Text"></textarea>

				</div>
				<div class="form-group">
					<label>Attachment</label>
					<input type="file" class="form-control" name="file" id="file">
					

				</div>


				<div class="form-group">
					<label>How many times do you want to send this mail ?</label>
					<input type="number" class="form-control" name="repetition" id="repetition" placeholder="No.of times you want to send???">
				</div>

				<div class="form-group">
					<button class="btn btn-primary" id="submit">Send</button>
				</div>


	</form>
</div></div>

			

			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

			<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

		</body>
		</html>